<section class="section menu">
    <div class="container">
        <ul class="nav">
            <li><a href="/">Trang chủ</a></li>
            <% danhmucs.map(function (e) { %>
            <li><a href="/danh-muc/<%= e.ID %>"><%= e.TenDanhMuc %></a></li>
            <% }) %>
        </ul>
    </div>
</section>